.container-fluid {
    margin-top: 100px;
}

.row {
    margin-top: 5px;
}

span {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
}

.fKeys {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    gap: 10px;
}

.nkeys {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 10px;
}

.btn-16 {
    grid-column: 14 / span 2;
}

.qwkeys {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 10px;
}

.btn-tab {}

.btn-slash {}

.askeys {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 10px;
}

.btn-caps {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 10px;

}

.btn-enter {}

.zxkeys {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
}

.btn-shift-left {}

.btn-shift-right {}

.spkeys {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 10px;
}

.btn-space {
    grid-column: 5 /span 6;
}

.arrowupdn {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.arrow {
    text-align: center;
    height: 25px;
}

.screen {

    background-color: rgb(184, 207, 228);
    display: flex;
    height: 25vh;
    width: 70%;
    margin-left: 140px;
    border: 1 1 1 1 solid transparent;
    border-radius: 2%;
    margin: auto;
    justify-content: center;
    margin-top: 10px;
    text-align: justify;
}

.screen p {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 30vh;
    width: 100%;
    word-wrap: break-word;
    margin: auto;
}
.pressed{
    background-color: black;
    color: cyan;
}